.thumb--aftermarket { background-position: 0 0;  }
.thumb--belena { background-position: 0 25%;  }
.thumb--byt { background-position: 0 50%;  }
.thumb--cht { background-position: 0 75%;  }
.thumb--drop { background-position: 25% 0;  }
.thumb--everymonth { background-position: 25% 25%;  }
.thumb--foreks { background-position: 25% 50%;  }
.thumb--gastar { background-position: 25% 75%;  }
.thumb--hidow { background-position: 50% 0;  }
.thumb--hunt { background-position: 50% 25%;  }
.thumb--hunteducation { background-position: 50% 50%;  }
.thumb--intricatelinks { background-position: 50% 75%;  }
.thumb--jdp { background-position: 75% 0;  }
.thumb--nichiro { background-position: 75% 25%;  }
.thumb--octave { background-position: 75% 50%;  }
.thumb--tevee { background-position: 75% 75%;  }
.thumb--tfa { background-position: 100% 0;  }
.thumb--toppik { background-position: 100% 25%;  }
.thumb--ohdeer { background-position: 100% 50%;  }
.thumb--wotif { background-position: 100% 75%;  }